* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../img/bg-mobile.jpg") no-repeat top center/cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nome {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aqua;
}

.ctz-main {
  position: relative;
}

.ctz-h1 {
  font-size: 80px;
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ctz-h2 {
  font-size: 50px;
  color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  color: white;
}
