/* Paleta 0: #808080 / #9e9e9e / #bcbcbc / #dadada / #f8f8f8 */
/* Paleta 1: #2dadf7 / #4ec2f9 / #6ed6fb / #8febfd / #afffff */
/* Paleta 2: #a3e4f9 / #91d2e6 / #7ebfd3 / #6cadc0 / #599aad */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background: url("../img/img-fundo2.jpg") no-repeat top center/cover;
}
#header_ {
  /* background-color: #2dadf707; */
  height: 50%;
}
#aboutme {
  background-color: #04425252;
  height: 100vh;
}
#service {
  background-color: #3c045252;
  height: 50vh;
}
#portfolio {
  background-color: #1d520470;
  height: 40vh;
}

#contateme {
  background-color: #599aad;
  height: 30vh;
}

.color1 {
  color: #2dadf7;
}
